<div class="layout">
  <sidebar></sidebar>

  <main class="main-page">
    <section class="main-page-header">
      <div class="input-search-wrapper w-[100%] lg:w-[420px] xl:w-[520px]">
        <input
          class="input-search w-[100%]"
          type="text"
          placeholder="Buscar"
          [(ngModel)]="searchText"
          (input)="search()"
        />
        <button type="button" class="input-search-icon" (click)="search()">
          <fa-icon [icon]="searchIcon" [styles]="{ color: 'bdbdbd' }"></fa-icon>
        </button>
      </div>
      <div class="profile">
        <fa-icon [icon]="userIcon" [styles]="{ color: 'e86060' }"></fa-icon>
        <span class="profile__name">Francisco M.</span>
      </div>
    </section>

    <section class="banner" [ngClass]="{ 'banner--with-content': firstAlbum }">
      <ng-container *ngIf="firstAlbum && firstAlbum.id; else loading">
        <div class="banner__cover hidden md:block">
          <img [src]="firstAlbum.cover_big || firstAlbum.cover" alt="" />
          <button class="banner__play" (click)="openFile(resultSongs[0], 0)">
            <fa-icon
              [icon]="playIcon"
              [styles]="{ color: 'white', 'margin-left': '4px' }"
              size="5x"
            ></fa-icon>
          </button>
        </div>
        <div class="banner__content text-white">
          <img
            class="banner__bg"
            src="{{ firstAlbum.artist?.picture_xl || firstAlbum.artist?.picture_big }}"
            alt=""
          />
          <div class="banner__header">
            <h3 class="banner__title font-bold">
              {{ firstAlbum.title }}
            </h3>
            <div class="flex md:inline-flex flex-col md:flex-row md:items-end gap-[16px]">
              <p class="banner__subtitle">{{ firstAlbum.label }}</p>
              <p class="banner__followers">{{ numberWithCommas(firstAlbum.fans!) }} seguidores</p>
            </div>
          </div>

          <p class="banner__description">Por {{ firstAlbum.artist?.name }}</p>

          <div class="banner__footer flex sm:inline-flex flex-col sm:flex-row">
            <button (click)="openFile(resultSongs[0], 0)" class="banner__btn" type="button">
              Reproducir
            </button>
            <button disabled class="banner__btn banner__btn--outlined" type="button">Seguir</button>
          </div>
        </div>
      </ng-container>
    </section>

    <section class="results">
      <ng-container *ngIf="resultSongs?.length; else loading">
        <h1 class="results__title font-bold">{{ resultTitle }}</h1>

        <div class="results__items">
          <div class="result-item" *ngFor="let item of resultSongs; let i = index">
            <div class="result-item__cover">
              <img
                (click)="openFile(item, i)"
                [src]="getCoverAlbum(item)"
                alt=""
                class="result-item__cover-img"
              />
              <button class="result-item__play" (click)="openFile(item, i)">
                <fa-icon
                  [icon]="playIcon"
                  [styles]="{ color: 'white', 'margin-left': '4px' }"
                  size="3x"
                ></fa-icon>
              </button>
            </div>
            <div class="result-item__content">
              <p class="result-item__title font-bold">{{ item.title }}</p>
              <p class="result-item__subtitle">{{ item.artist?.name }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </section>
  </main>

  <player></player>
</div>

<ng-template #loading>
  <loader></loader>
</ng-template>
