<aside class="sidebar sticky hidden lg:flex">
  <img src="/assets/img/foxbel-music.png" alt="" />

  <div class="menu-group text-white">
    <h2 class="menu-group__title font-bold">Mi librería</h2>
    <ul class="list">
      <li class="list__item list__item--selected">Recientes</li>
      <li class="list__item">Artistas</li>
      <li class="list__item">Álbums</li>
      <li class="list__item">Canciones</li>
      <li class="list__item">Estaciones</li>
    </ul>
  </div>

  <div class="menu-group text-white">
    <h2 class="menu-group__title font-bold">Playlist</h2>
    <ul class="list">
      <li class="list__item">Metal</li>
      <li class="list__item">Para bailar</li>
      <li class="list__item">Rock 90s</li>
      <li class="list__item">Baladas</li>
    </ul>
  </div>
</aside>
